<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97893421916-ugj64gfqptl3q2lmcct0a8ql8bhvjpus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97893421916-ugj64gfqptl3q2lmcct0a8ql8bhvjpus</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97893421916-phaflfa0aric9ihms2qg0h5ahugc3k6e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9F4NFSZ6SAJBzqdKF0Q4jZcghM7BEgc</string>
	<key>GCM_SENDER_ID</key>
	<string>97893421916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.crecode.stylecheqApp</string>
	<key>PROJECT_ID</key>
	<string>style-cheq</string>
	<key>STORAGE_BUCKET</key>
	<string>style-cheq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97893421916:ios:3616b63c9467415e336799</string>
	<key>DATABASE_URL</key>
	<string>https://style-cheq.firebaseio.com</string>
</dict>
</plist>